<%- include('page_start.html') %>
  <link rel="stylesheet" type="text/css" href="/css/messages.css">
</head>
<body>

<main>
  <div class="message received">
    <div>A Friend</div>
    <div>How are you ?</div>
  </div>
  <div class="message sent">
    <div>It's me !</div>
    <div>Fine, thanks !</div>
  </div>
</main>

<form name="send-form">
  <div>
    <input type="text" name="message" placeholder="Write a message..."><!--
--><button type="button">&#8669;</button>
  </div>
</form>

</body>
</html>