<%- include('page_head.html') %>
  <link rel="stylesheet" type="text/css" href="/css/messages.css">
</head>
<body>

<header>
  <h1><%= username %></h1><!--
--><a href="/" title="Log out">&cross;</a>
</header>

<main></main>

<form name="send-form">
  <div>
    <input type="text" name="message" placeholder="Write a message..."
      autocomplete="off" autofocus><!--
 --><button id="sendButton" type="submit" title="Send message">&#8669;</button>
  </div>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket-client.js"></script>

</body>
</html>