@charset "utf-8";
@import url("colors.css");

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form > *:not(h1) {
  width: max-content;
}

input {
  margin-bottom: 1.5em;
}

button {
  background-color: #150;
  border: none;
  border-radius: 5px;
  color: inherit;
  font-size: 1.2em;
  padding: 1em;
}