@charset "utf-8";
@import url("colors.css");

/* General rules */

:root {
  --header-bg-color: #1c7905;
  
  --connection-bg-color: #555;
  --received-bg-color: #990217;
  --sent-bg-color: #088e79;
  --author-border-color: #ffebeb;

  --write-bg-color: #333;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* ************ */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  /* Make main part stand alone with scroll */
  flex: 1;
  overflow: auto;
}

/* Header */

header {
  background-color: var(--header-bg-color);
  text-align: center;
}

header > * {
  font-size: 2em;
}

header > h1 {
  display: inline-block;
}

header > a {
  color: inherit;
  margin-left: 1ch;
  text-decoration: none;
}

header > a:hover {
  color: red;
}

/* Messages */

.message {
  border-radius: 20px;
  margin: 1em 0 1em 3%;
  max-width: 90%;
  padding: 0.4em 1em 0.6em;
  /* Prevent long messages from triggering horizontal scroll */
  width: max-content;
}

.connection {
  background-color: var(--connection-bg-color);
  font-style: italic;
}

.received {
  background-color: var(--received-bg-color);
}

.sent {
  background-color: var(--sent-bg-color);
}

.message div:first-child {
  --border-spacing: 0.8em;
  border-bottom: 2px dashed var(--author-border-color);
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin-bottom: var(--border-spacing);
  padding-bottom: var(--border-spacing);
  width: max-content;
}

.message div:last-child {
  font-family: 'Courier New', Courier, monospace;
}

/* Send message footer */

form {
  background-color: var(--write-bg-color);
  padding: 2em;
  width: 100%;
}

form div {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  display: flex;
  /* Display button right */
  justify-content: space-between;
  padding: 1em;
}

form * {
  background-color: rgba(0, 0, 0, 0);
}

form input {
  border: none;
  font-size: 1.2em;
  /* Allow button to stay in div when viewport width is very low */
  min-width: 0;
  width: 100%;
}

form button {
  border: none;
  font-size: 2em;
  padding: 0;
}